@use "../../assets/scss/partials/variables.scss" as *;
@use "../../assets/scss/partials/mixins.scss" as m;
@use "../../assets/scss/partials/functions.scss" as f;

.dropdown {
    @include m.position(relative);

    // Button
    &__button {
        @include m.flex($ai: center, $gap: f.em(8));

        padding: f.em(8) f.em(24);
        border: none;
        border-radius: f.em(8);

        background-color: $color-blue;
        color: $color-white;

        cursor: pointer;
    }

    // List
    &__list {
        @include m.position(absolute, $t: calc(100% + f.em(8)));

        &.open {
            display: block;
        }
    }
}
