// Color
$color-black: #1f1f1f;
$color-gray: #c9c9c9;
$color-white: #ffffff;
$color-red: #d00b0b;
$color-orange: #c96c00;
$color-green: #2bbd14;

// Font
$font-family: "Rambla", sans-serif;

// Behaviour
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
$transition: 0.4s ease;
