// Color
$color-black: #1f1f1f;
$color-gray: #c9c9c9;
$color-white: #ffffff;

// Font
$font-family: "Rambla", sans-serif;

// Behaviour
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
$transition: 0.4s ease;
