@use "../../assets/scss/partials/variables.scss" as *;
@use "../../assets/scss/partials/mixins.scss" as m;
@use "../../assets/scss/partials/functions.scss" as f;

// Header
.header {
    background-color: $color-black;
    margin-bottom: f.em(32);

    // Container
    &__container {
        @include m.container;
        @include m.flex($ai: center, $jc: space-between);

        padding: f.em(24) 0;
    }

    // Title
    &__title {
        font-size: f.em(24);

        &__link {
            @include m.flex($ai: center);

            color: $color-white;

            font-weight: 700;
            text-decoration: none;

            transition: $transition;

            &:hover {
                color: darken($color-white, 16%);
            }
        }
    }
}
